<h1>Site#bookingpage</h1>
<p>Find me in app/views/site/bookingpage.html.erb</p>
<div id="totalPrice"></div>

<!-- pseduo algorithym taken 2 nigths cost 60Euros person = 3-->
<!-- 
 var roompricepn= 60; 
 people_number= 3
 percentage_earns= 13%
 total_booking_cst= (roompricepn*people_number) ("180")=(populate to transcation table)

 var triflex_earnings=  (total_booking_cst*percentage_earns)/(100);=(populate to transaction table) 

 var hotel_earnings= total_booking_cst -tripflex_earnings;(populate to transaction table) -->


