<md-button class="md-raised">Add rooms</md-button>
<md-button href="/hotels/new" class="md-raised">Add new branch</md-button>

<%= link_to('Logout', destroy_hoteladmin_session_path, :method  => 'delete',  data: { confirm: 'Are you sure?' }) %> </li>