
<md-button href="/hotels/new" class="md-raised">Add Hotel</md-button>
<h2>My Hotels</h2>

<%if @hotel.nil? %>
<h3> You dont have a Hotel registred</h3>
<%else%>

<%=@hotel.name%> <%=@hotel.id%>
<md-button class="md-raised" href="/rooms/new">Add rooms</md-button>


<%if @hotelid==@hotel.id %>
No rooms added yet...
<%else%>
You have <%=@hotel.rooms.count%> in this hotel.
<md-button class="md-raised" href="/avaibilities/new">Set Availbility</md-button>
<%end%>

<%end%>


