<%if user_signed_in? %>
    <h1> You are not Hotel Administrator</h1>
    <%end%>

<md-button href="/hotels/new" class="md-raised">Add Hotel</md-button>
<h2>My Hotels</h2>

<%if @hotel.nil? %>
<h3> You dont have a Hotel registred</h3>
<%else%>

<%=@hotel.name%>
<md-button class="md-raised">Add rooms</md-button>
<%end%>


